h1.heading {
  font-size: 60px;
  text-align: center;
  font-family: Poppins,sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}
p.heading.p__color {
  margin-bottom: 0;
  text-align: center;
  line-height: 1.2;
}
.service__box {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  width: 100%;
  height: 650px;
  background-color: #191919;
  padding: 10px;
  transition: .4s ease;
}
.service__box:hover {
  transform: translateY(5px);
  background-image: linear-gradient( 
90deg,#f61b10,#ef0963);
}
.service__box:hover .icon{
  color: #fff;
}
.service__box:hover p.service__text.p__color{
  color: #fff!important;
}


.project__img1{
  width: 100%;
}

.project__img2{
  width: 100%;
}

.tech_stack{
  display: flex;
  align-items: center;
  color: #fff;
}

.project_links{
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  /* border:1px solid #ef0963; */
  position: sticky;
  bottom: 0px;
}

.img_link{
  display: flex;
  justify-content: start;
}

.GitHub_img{
  width: 15%;
  margin-right: 0px;
}

.github_icon{
  font-size: 30px;
  margin-right: 15px;
  border-radius: 5px;
}



/* .icon {
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 23px;
  display: inline-flex;
  color: #f9004d;
} */
p.service__text.p__color {
  margin-bottom: 0;
}
h1.service__text {
  font-size: 19px;
  font-family: Poppins,sans-serif;
  padding: 10px 0px;
}
/* RESPONSIVE */
@media only screen and (max-width: 1024px){
.service__box {
  padding: 32px;
}
}